<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-4 border-right">
      <!-- =============CAPACITY start ============== -->

      <h4 class="text-center">MY CAPACITY</h4>
      <table class="table table-borderless">
        <thead class="thead-light">
          <tr>
            <th scope="col">Installed <br />Capacity​</th>
            <th scope="col">10MW​</th>
            <th scope="col">Availability <br />Factor​</th>
            <th scope="col">~ 7.45MW</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td class="text-center">
              <img
                class="td-soler-img"
                src="assets\img\powerbank\solar pannel.png"
              /><br />
              Site 1
            </td>
            <td class="text-center">
              <img
                class="td-soler-img"
                src="assets\img\powerbank\solar pannel.png"
              /><br />
              Site 2
            </td>
            <td class="text-center">
              <img
                class="td-soler-img"
                src="assets\img\powerbank\solar pannel.png"
              /><br />
              Site 3
            </td>
          </tr>
          <tr>
            <td>Installed Capacity :​</td>
            <td>5MW</td>
            <td>2.5MW</td>
            <td>2.5MW</td>
          </tr>
          <tr>
            <td>PAF :​</td>
            <td>5MW</td>
            <td>2.5MW</td>
            <td>2.5MW</td>
          </tr>
        </tbody>
      </table>

      <!-- =============CAPACITY start ============== -->

      <!-- =============retailer start ============== -->

      <h4 class="text-center util">MY RETAILERS/Utilities​</h4>

      <div class="row retailer">
        <div class="col-6">
          <div class="card">
            <div
              class="row"
              data-toggle="tooltip"
              data-placement="top"
              title="Tooltip on top"
            >
              <div class="col-6 undercol">
                <img
                  class="text-center"
                  height="40px"
                  src="assets\img\powerbank\electric tower.png"
                />
              </div>
              <div class="col-6 undercol">
                <p class="text-center">Retailer 1​</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="row">
              <div class="col-6 undercol">
                <img
                  class="text-center"
                  height="40px"
                  src="assets\img\powerbank\electric tower.png"
                />
              </div>
              <div class="col-6 undercol">
                <p class="text-center">Retailer 2</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row retailer">
        <div class="col-6">
          <div class="card">
            <div class="row">
              <div class="col-6 undercol">
                <img
                  class="text-center"
                  height="40px"
                  src="assets\img\powerbank\electric tower.png"
                />
              </div>
              <div class="col-6 undercol">
                <p class="text-center">Retailer 1​</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="row">
              <div class="col-6 undercol">
                <img
                  class="text-center"
                  height="40px"
                  src="assets\img\powerbank\electric tower.png"
                />
              </div>
              <div class="col-6 undercol">
                <p class="text-center">Retailer 2</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row retailer">
        <div class="col-6">
          <div class="card">
            <div class="row">
              <div class="col-6 undercol">
                <img
                  class="text-center"
                  height="40px"
                  src="assets\img\powerbank\electric tower.png"
                />
              </div>
              <div class="col-6 undercol">
                <p class="text-center">Retailer 1​</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card">
            <div class="row">
              <div class="col-6 undercol">
                <img
                  class="text-center"
                  height="40px"
                  src="assets\img\powerbank\electric tower.png"
                />
              </div>
              <div class="col-6 undercol">
                <p class="text-center">Retailer 2</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- =============retailer end ============== -->
    </div>

    <div class="col-8">
      <div class="row">
        <div class="col-9">
          <h4 class="text-center colortext">MY CONTRACTS​</h4>
          <br />

          <div class="row">
            <div class="col-6">
              <h6 class="text-left">In Execution</h6>

              <table class="table third">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Contract ID</th>
                    <th scope="col">Retailer</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Timeline</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1234</td>
                    <td>Retailer 1</td>
                    <td>20KW</td>
                    <td>1st Jan - 30th April</td>
                  </tr>
                  <tr>
                    <td>6548</td>
                    <td>Retailer 2</td>
                    <td>30KW</td>
                    <td>1st Mar - 30th April</td>
                  </tr>
                  <tr>
                    <td>7789</td>
                    <td>Retailer 5</td>
                    <td>120KW</td>
                    <td>1st July - 30th Oct</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-6">
              <h6 class="text-left">Completed</h6>

              <table class="table third">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Contract ID</th>
                    <th scope="col">Retailer</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Timeline</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1234</td>
                    <td>Retailer 1</td>
                    <td>20KW</td>
                    <td>1st Jan - 30th April</td>
                  </tr>
                  <tr>
                    <td>6548</td>
                    <td>Retailer 2</td>
                    <td>30KW</td>
                    <td>1st Mar - 30th April</td>
                  </tr>
                  <tr>
                    <td>7789</td>
                    <td>Retailer 5</td>
                    <td>120KW</td>
                    <td>1st July - 30th Oct</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="row third">
            <div class="card">
              <div class="card-body">
                <i
                  class="fa fa-id-card-o ppa-icon"
                  aria-hidden="true"
                ></i
                ><br />
                <p>Create New PPA</p>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <a href="" class="text-dark">
                  <i
                    class="fa fa-id-card-o ppa-icon"
                    aria-hidden="true"
                  ></i>
                  <br />
                  <p>PPA Request</p>
                  <span
                    class="round-noti badge rounded-pill badge-notification bg-danger"
                    >1</span
                  >
                </a>
                <!-- <i
                  class="fa fa-id-card-o ppa-icon"
                  aria-hidden="true"
                ></i>
                <br />
                <p>PPA Request</p> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-8">
          <h5 class="text-right colortext">CURRENT MARKET​</h5>
          <img
            src="assets\img\powerbank\slid-10-graph.png"
            width="100%"
          />
        </div>
        <div class="col">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <img
                    src="assets\img\powerbank\slid-10-1.png"
                    width="20px"
                  />
                </td>
                <td>Solar PB ​</td>
                <td>2.2%​</td>
                <td>
                  <i
                    class="fa fa-arrow-up"
                    aria-hidden="true"
                    style="color: green"
                  ></i>
                </td>
                <td>1.5$​</td>
              </tr>

              <tr>
                <td>
                  <img
                    src="assets\img\powerbank\slid-10-3.png"
                    width="20px"
                  />
                </td>
                <td>Solar PB​</td>
                <td>2.2%​</td>
                <td>
                  <i
                    class="fa fa-arrow-down"
                    aria-hidden="true"
                    style="color: rgb(226, 7, 7)"
                  ></i>
                </td>
                <td>1.5$​</td>
              </tr>

              <tr>
                <td>
                  <img
                    src="assets\img\powerbank\slid-10-2.png"
                    width="20px"
                  />
                </td>
                <td>Solar + Wind PB​ ​</td>
                <td>2%​</td>
                <td>
                  <i
                    class="fa fa-arrow-up"
                    aria-hidden="true"
                    style="color: green"
                  ></i>
                </td>
                <td>1.5$​</td>
              </tr>

              <tr>
                <td>
                  <img
                    src="assets\img\powerbank\slid-10-3.png"
                    width="20px"
                  />​​
                </td>
                <td>Small Hydro PB​​</td>
                <td>2.2%​</td>
                <td>
                  <i
                    class="fa fa-arrow-up"
                    aria-hidden="true"
                    style="color: green"
                  ></i>
                </td>
                <td>1.5$​</td>
              </tr>

              <tr>
                <td>
                  <img
                    src="assets\img\powerbank\slid-10-3.png"
                    width="20px"
                  />
                </td>
                <td>Solar PB​</td>
                <td>2.2%​</td>
                <td>
                  <i
                    class="fa fa-arrow-down"
                    aria-hidden="true"
                    style="color: rgb(226, 7, 7)"
                  ></i>
                </td>
                <td>1.5$​</td>
              </tr>

              <tr>
                <td>
                  <img
                    src="assets\img\powerbank\slid-10-3.png"
                    width="20px"
                  />
                </td>
                <td>Solar PB​</td>
                <td>2.2%​</td>
                <td>
                  <i
                    class="fa fa-arrow-up"
                    aria-hidden="true"
                    style="color: green"
                  ></i>
                </td>
                <td>1.5$​</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>