<app-navbar></app-navbar>
<div>
  <div class="container-body">
    <div class="row">
      <div class="col-4 border-right">
        <!-- =============CAPACITY start ============== -->

        <h4 class="text-center">MY CAPACITY</h4>
        <table class="table table-borderless">
          <thead class="thead-light">
            <tr>
              <th scope="col">Installed <br />Capacity​</th>
              <th scope="col">10MW​</th>
              <th scope="col">Availability <br />Factor​</th>
              <th scope="col">~ 7.45MW</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td class="text-center">
                <img
                  class="td-soler-img"
                  src="assets\img\newicon\solar-panel.png"
                /><br />
                Site 1
              </td>
              <td class="text-center">
                <img
                  class="td-soler-img"
                  src="assets\img\newicon\solar-panel.png"
                /><br />
                Site 2
              </td>
              <td class="text-center">
                <img
                  class="td-soler-img"
                  src="assets\img\newicon\solar-panel.png"
                /><br />
                Site 3
              </td>
            </tr>
            <tr>
              <td>Installed Capacity :​</td>
              <td>5MW</td>
              <td>2.5MW</td>
              <td>2.5MW</td>
            </tr>
            <tr>
              <td>PAF :​</td>
              <td>5MW</td>
              <td>2.5MW</td>
              <td>2.5MW</td>
            </tr>
          </tbody>
        </table>

        <!-- =============CAPACITY start ============== -->

        <!-- =============retailer start ============== -->

        <h4 class="text-center util">MY RETAILERS</h4>

        <div class="row retailer">
          <div class="col-6">
            <div class="card">
              
              <div
                class="row"
                data-toggle="tooltip" 
                data-html="true"
                title="Utility Name: Utility A | Utility Code: UTA1"
              >
                <div class="col-6 undercol">
                  <img
                    class="text-center"
                    height="40px"
                    src="assets\img\newicon\energy-tower.png"
                  />
                </div>
                <div class="col-6 undercol">
                  <p class="text-center">Utility A​</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="row">
                <div class="col-6 undercol">
                  <img
                    class="text-center"
                    height="40px"
                    src="assets\img\newicon\energy-tower.png"
                  />
                </div>
                <div class="col-6 undercol">
                  <p class="text-center">Utility B</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row retailer">
          <div class="col-6">
            <div class="card">
              <div class="row">
                <div class="col-6 undercol">
                  <img
                    class="text-center"
                    height="40px"
                    src="assets\img\newicon\energy-tower.png"
                  />
                </div>
                <div class="col-6 undercol">
                  <p class="text-center">Utility C​</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="row">
                <div class="col-6 undercol">
                  <img
                    class="text-center"
                    height="40px"
                    src="assets\img\newicon\energy-tower.png"
                  />
                </div>
                <div class="col-6 undercol">
                  <p class="text-center">Utility D</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row retailer">
          <div class="col-6">
            <div class="card">
              <div class="row">
                <div class="col-6 undercol">
                  <img
                    class="text-center"
                    height="40px"
                    src="assets\img\newicon\energy-tower.png"
                  />
                </div>
                <div class="col-6 undercol">
                  <p class="text-center">Utility E​</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card">
              <div class="row">
                <div class="col-6 undercol">
                  <img
                    class="text-center"
                    height="40px"
                    src="assets\img\newicon\energy-tower.png"
                  />
                </div>
                <div class="col-6 undercol">
                  <p class="text-center">Utility F</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- =============retailer end ============== -->
      </div>

      <div class="col-8">
        <div class="row">
          <div class="col-9">
            <h4 class="text-center colortext">MY CONTRACTS​</h4>
            <br />

            <div class="row">
              <div class="col-6">
                <h6 class="text-left">In Execution</h6>

                <table class="table third execution">
                  <thead class="thead">
                    <tr>
                      <th scope="col">Contract ID</th>
                      <th scope="col">Retailer</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Timeline</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1234</td>
                      <td>Utility A</td>
                      <td>20KW</td>
                      <td>1st Jan - 30th April</td>
                    </tr>
                    <tr>
                      <td>6548</td>
                      <td>Utility B</td>
                      <td>30KW</td>
                      <td>1st Mar - 30th April</td>
                    </tr>
                    <tr>
                      <td>7789</td>
                      <td>Utility C</td>
                      <td>120KW</td>
                      <td>1st July - 30th Oct</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-6">
                <h6 class="text-left">Completed</h6>

                <table class="table third completed">
                  <thead class="thead">
                    <tr>
                      <th scope="col">Contract ID</th>
                      <th scope="col">Retailer</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Timeline</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1234</td>
                      <td>Utility A</td>
                      <td>20KW</td>
                      <td>1st Jan - 30th April</td>
                    </tr>
                    <tr>
                      <td>6548</td>
                      <td>Utility B</td>
                      <td>30KW</td>
                      <td>1st Mar - 30th April</td>
                    </tr>
                    <tr>
                      <td>7789</td>
                      <td>Utility C</td>
                      <td>120KW</td>
                      <td>1st July - 30th Oct</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="row third">
              
              <div class="card">
                <button type="button" class="btn btn-sm btn-default">
                  Create New PPA
                </button>
              </div>

              <div class="card">
                <button type="button" class="btn btn-sm btn-default">
                  PPA Request
                </button>

                <span
                  class="round-noti badge rounded-pill badge-notification bg-danger"
                  >1</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-8">
            <h5 class="text-center colortext">CURRENT MARKET​</h5>
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
            
          </div>
          <div class="col">
            <table class="table">
              <tbody>
                <tr>
                  <td>
                    <img
                      src="assets\img\newicon\solar-panel.png"
                      width="20px"
                    />
                  </td>
                  <td>Solar PB ​</td>
                  <td>2.10%​</td>
                  <td>
                    <i
                      class="fa fa-arrow-up"
                      aria-hidden="true"
                      style="color: green"
                    ></i>
                  </td>
                  <td>1.30$​</td>
                </tr>

                <tr>
                  <td>
                    <img
                      src="assets\img\newicon\windmill.png"
                      width="20px"
                    />
                  </td>
                  <td>Wind PB​</td>
                  <td>1.20%​</td>
                  <td>
                    <i
                      class="fa fa-arrow-down"
                      aria-hidden="true"
                      style="color: rgb(226, 7, 7)"
                    ></i>
                  </td>
                  <td>1.20$​</td>
                </tr>

                <tr>
                  <td>
                    <img
                      src="assets\img\newicon\renewable.png"
                      width="20px"
                    />
                  </td>
                  <td>Solar + Wind PB​ ​</td>
                  <td>2.30%​</td>
                  <td>
                    <i
                      class="fa fa-arrow-up"
                      aria-hidden="true"
                      style="color: green"
                    ></i>
                  </td>
                  <td>2.10$​</td>
                </tr>

                <tr>
                  <td>
                    <img
                      src="assets\img\newicon\biogas-plant.png"
                      width="20px"
                    />​​
                  </td>
                  <td>Solar + Wind + Bio PB​​</td>
                  <td>1.10%​</td>
                  <td>
                    <i
                      class="fa fa-arrow-up"
                      aria-hidden="true"
                      style="color: green"
                    ></i>
                  </td>
                  <td>2.00$​</td>
                </tr>

                <tr>
                  <td>
                    <img
                      src="assets\img\newicon\hydro.png"
                      width="20px"
                    />
                  </td>
                  <td>Small Hydro PB</td>
                  <td>2.20%​</td>
                  <td>
                    <i
                      class="fa fa-arrow-up"
                      aria-hidden="true"
                      style="color: rgb(30, 235, 146)"
                    ></i>
                  </td>
                  <td>1.80$​</td>
                </tr>

                <tr>
                  <td>
                    <img
                      src="assets\img\newicon\electrician.png"
                      width="20px"
                    />
                  </td>
                  <td>Prosumers PB​</td>
                  <td>1.10%​</td>
                  <td>
                    <i
                      class="fa fa-arrow-down"
                      aria-hidden="true"
                      style="color: red"
                    ></i>
                  </td>
                  <td>1.20$​</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
