#create_power_bank{
    .modal-body{
        background-color: #d6d6d6;
    }
    .btn-close{
        border: 1px solid red;
        background-color: white;
        color: red;
    }
}
.card{
    border-radius: 0;
}