<div class="modal fade" id="pb_confirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="pb_confirm" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close d-block ms-auto mb-3" data-bs-toggle="modal" data-bs-target="#create_power_bank"
                    aria-label="Close"></button>
                <div class="container">
                    <p class="text-center">Dear User, A set of <span class="fw-bold">{{this.util.newPbSpecification.getValue().qtyOfPowebank}}</span> Power Bank with a capacity of
                        power banks with a capacity of <span class="fw-bold">{{this.util.newPbSpecification.getValue().chosenCapacity}}kW</span> has been configured into the cloud with a child contract ID <span class="fw-bold"> 2324-AA</span></p>
                </div>
            </div>
            <button type="button" class="btn btn-secondary d-block mx-auto mb-3" data-bs-dismiss="modal">Close</button>

        </div>
    </div>
</div>



<div class="modal fade" id="create_power_bank" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="create_power_bank" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close d-block ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                <app-pb-form></app-pb-form>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-primary d-block mx-auto" data-bs-dismiss="modal"
                    data-bs-toggle="modal" data-bs-target="#pb_confirm">Request for PPA</button>
            </div> -->
        </div>
    </div>
</div>