<nav class="navbar navbar-expand-md">
    <div class="container">
      <a class="navbar-brand"><img src="../../assets/logo.png" width="50px" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fw-bold">Welcome Utility C</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="../../assets/logo.png" width="25px" alt="">
            </a>
            <ul class="dropdown-menu">
            </ul>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>