<app-navbar></app-navbar>
<div class="container">
  <!-- ============Buy Modal Start================= -->
  <div
    class="modal fade bd-example-modal-md"
    id="buyModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="buyModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="buyModalLabel">Buy Solar PB × 1 Qty​</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group row">
              <label for="npb" class="control-label col-sm-4"
                >Number of Power Banks​</label
              >
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  id="npb"
                  value="1"
                  placeholder="Number of Power Banks​"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="cpb" class="control-label col-sm-4"
                >Capacity of Power Bank​</label
              >
              <div class="col-sm-3">
                <input type="text" class="form-control" id="cpb" value="1.5" />
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control" value="USD" />
              </div>
            </div>

            <div class="form-group row">
              <label for="cpb" class="control-label col-sm-4"
                >Cost of Power Bank​​</label
              >
              <div class="col-sm-3">
                <input type="text" class="form-control" id="cpb" value="37.5" />
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control" value="KW" />
              </div>
            </div>

            <div class="form-group row">
              <label for="cpb" class="control-label col-sm-4">Timeline​</label>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  id="cpb"
                  value="Valid up to 03/31/2023​"
                />
              </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <button
                  type="submit"
                  class="sell-btn btn btn-primary pull-right btn-sm"
                >
                  Buy
                </button>
              </div>
              <div class="col">
                <button
                  type="submit"
                  class="cancel-btn btn btn-info btn-sm"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ============Buy Modal End================== -->

  <!-- ============Sell Modal Start================= -->
  <div
    class="modal fade bd-example-modal-md"
    id="sellModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="sellModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sellModalLabel">Sell My Power Bank</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="#">
            <div class="form-group row">
              <label for="npb" class="control-label col-sm-4"
                >Number of Power Banks​</label
              >
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  id="npb"
                  value="1"
                  placeholder="Number of Power Banks​"
                />
              </div>
            </div>
            <div class="form-group row">
              <label for="cpb" class="control-label col-sm-4"
                >Capacity of Power Bank​</label
              >
              <div class="col-sm-3">
                <input
                  type="text"
                  class="form-control"
                  id="cpb"
                  value="5"
                  placeholder="Capacity of Power Bank​"
                />
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control" value="KW" />
              </div>
            </div>

            <div class="form-group row">
              <label for="cpb" class="control-label col-sm-4"
                >Cost of Power Bank​​</label
              >
              <div class="col-sm-3">
                <input
                  type="text"
                  class="form-control"
                  id="cpb"
                  value="5"
                  placeholder="Capacity of Power Bank​"
                />
              </div>
              <div class="col-sm-3">
                <input type="text" class="form-control" value="KW" />
              </div>
            </div>

            <div class="form-group row">
              <label for="cpb" class="control-label col-sm-4">Timeline​</label>
              <div class="col-sm-6">
                <input
                  type="text"
                  class="form-control"
                  id="cpb"
                  value="Valid up to 03/31/2023​"
                />
              </div>
            </div>

            <div class="form-group row">
              <div class="col">
                <button
                  type="submit"
                  class="sell-btn btn btn-primary pull-right btn-sm"
                >
                  Sell
                </button>
              </div>
              <div class="col">
                <button
                  type="submit"
                  class="cancel-btn btn btn-info btn-sm"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ============Sell Modal End================== -->

  <div class="row">
    <div class="col-8 border-right border-bottom-0">
      <!-- =============Start ============== -->

      <div class="row">
        <h5 class="text-center colortext">CURRENT MARKET​</h5>

        <div class="col">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <img src="assets\img\powerbank\slid-10-1.png" width="20px" />
                </td>
                <td>
                  <a data-toggle="modal" data-target="#buyModal"> PB </a>​
                </td>
                <td>2.2%​</td>
                <td>
                  <i
                    class="fa fa-arrow-up"
                    aria-hidden="true"
                    style="color: green"
                  ></i>
                </td>
                <td>1.5$​</td>
              </tr>

              <tr>
                <td>
                  <img src="assets\img\powerbank\slid-10-3.png" width="20px" />
                </td>
                <td>
                  <a data-toggle="modal" data-target="#buyModal">Solar PB</a>​
                </td>
                <td>2.2%​</td>
                <td>
                  <i
                    class="fa fa-arrow-down"
                    aria-hidden="true"
                    style="color: rgb(226, 7, 7)"
                  ></i>
                </td>
                <td>1.5$​</td>
              </tr>

              <tr>
                <td>
                  <img src="assets\img\powerbank\slid-10-2.png" width="20px" />
                </td>
                <td>
                  <a data-toggle="modal" data-target="#buyModal"
                    >Solar + Wind PB​ </a
                  >​
                </td>
                <td>2%​</td>
                <td>
                  <i
                    class="fa fa-arrow-up"
                    aria-hidden="true"
                    style="color: green"
                  ></i>
                </td>
                <td>1.5$​</td>
              </tr>

              <tr>
                <td>
                  <img
                    src="assets\img\powerbank\slid-10-3.png"
                    width="20px"
                  />​​
                </td>
                <td>
                  <a data-toggle="modal" data-target="#buyModal"
                    >Small Hydro PB</a
                  >​​
                </td>
                <td>2.2%​</td>
                <td>
                  <i
                    class="fa fa-arrow-up"
                    aria-hidden="true"
                    style="color: green"
                  ></i>
                </td>
                <td>1.5$​</td>
              </tr>

              <tr>
                <td>
                  <img src="assets\img\powerbank\slid-10-3.png" width="20px" />
                </td>
                <td>
                  <a data-toggle="modal" data-target="#buyModal">Solar PB</a>​
                </td>
                <td>2.2%​</td>
                <td>
                  <i
                    class="fa fa-arrow-down"
                    aria-hidden="true"
                    style="color: rgb(226, 7, 7)"
                  ></i>
                </td>
                <td>1.5$​</td>
              </tr>

              <tr>
                <td>
                  <img src="assets\img\powerbank\slid-10-3.png" width="20px" />
                </td>
                <td>
                  <a data-toggle="modal" data-target="#buyModal">Solar PB</a>​
                </td>
                <td>2.2%​</td>
                <td>
                  <i
                    class="fa fa-arrow-up"
                    aria-hidden="true"
                    style="color: green"
                  ></i>
                </td>
                <td>1.5$​</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-6">
          <img src="assets\img\powerbank\slid-10-graph.png" width="100%" />
        </div>
      </div>

      <hr />
      <!-- =============End ============== -->
      <div class="row trading-history">
        <div class="col-2">
          <p class="trading-title">Trading History</p>
          ​
        </div>

        <div class="col-4">
          <div class="row market-footer">
            <div class="col">
              <p class="market-title">Time Range:</p>
            </div>
            <div class="col">
              <select
                class="form-select form-control-sm"
                aria-label="Default select example"
              >
                <option selected value="1">Last 6 months​</option>
                <option value="2">Last 12 months​</option>
              </select>
            </div>
          </div>
        </div>

        <div>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Date and Time​</th>
                <th scope="col">Power Bank​</th>
                <th scope="col">Order ID​</th>
                <th scope="col">Status</th>
                <th scope="col">Qty​</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01/09/2023​</td>
                <td>PB 1​</td>
                <td>DFGH7654​</td>
                <td><p class="text-success">Active</p></td>
                <td>10 kW​</td>
              </tr>
              <tr>
                <td>01/09/2023​</td>
                <td>PB 2​</td>
                <td>ABFGH7654​</td>
                <td><p class="text-danger">Sold</p></td>
                <td>5 kW​</td>
              </tr>
              <tr>
                <td>01/09/2023​</td>
                <td>PB 3​</td>
                <td>DFG54654​</td>
                <td><p class="text-success">Active</p></td>
                <td>12 kW​</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="row section1">
        <span class="border border-dark pull-right"
          >Tuesday 22nd November 15:15 EST​</span
        >

        <h5 class="text-center colortext">MY POWER BANKS​​</h5>

        <div class="col section1-left">
          <h5>PB 1</h5>
          <p>Unused capacity​ 5 kW​</p>
          ​<button
            class="btn btn-info btn-sm pull-right"
            data-toggle="modal"
            data-target="#sellModal"
          >
            Sell
          </button>
        </div>

        <div class="col-6 section1-right">
          <img src="assets\img\powerbank\slid-11.png" alt="" />
          <p>
            Solar + Wind PB​<br />
            Valid till 31st March
          </p>
        </div>
      </div>
      <div class="row right-footer">
        <div class="col-4">
          <table class="table">
            <tbody>
              <tr>
                <td>
                  <img src="assets\img\powerbank\slid-11.png" alt="" />
                </td>
                <td>PB1</td>
              </tr>
              <tr>
                <td>
                  <img
                    width="50%"
                    src="assets\img\powerbank\slid-11.png"
                    alt=""
                  />
                </td>
                <td>PB2</td>
              </tr>
              <tr>
                <td>
                  <img
                    width="50%"
                    src="assets\img\powerbank\slid-11.png"
                    alt=""
                  />
                </td>
                <td>PB3</td>
              </tr>
              <tr>
                <td>
                  <img
                    width="50%"
                    src="assets\img\powerbank\slid-11.png"
                    alt=""
                  />
                </td>
                <td>PB4</td>
              </tr>
              <tr>
                <td>
                  <img
                    width="50%"
                    src="assets\img\powerbank\slid-11.png"
                    alt=""
                  />
                </td>
                <td>PB4</td>
              </tr>
              <tr>
                <td>
                  <img
                    width="50%"
                    src="assets\img\powerbank\slid-11.png"
                    alt=""
                  />
                </td>
                <td>PB4</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Cost</th>
                <th scope="col">Qty</th>
                <th scope="col">Validity</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1$</td>
                <td>10kw</td>
                <td>30days</td>
              </tr>
              <tr>
                <td>1. 2$</td>
                <td>10kw</td>
                <td>50days</td>
              </tr>
              <tr>
                <td>0.98$</td>
                <td>2kw</td>
                <td>15days</td>
              </tr>
              <tr>
                <td>1015$</td>
                <td>10kw</td>
                <td>30days</td>
              </tr>
              <tr>
                <td>1015$</td>
                <td>10kw</td>
                <td>30days</td>
              </tr>
              <tr>
                <td>1015$</td>
                <td>10kw</td>
                <td>30days</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
