<div class="row">
    <!-- <div class="col-5"> -->
        <h5 class="text-center heading">PPA- In Execution</h5>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Contract ID</th>
                    <th scope="col">Genarator</th>
                    <th scope="col">Quantity(kW)</th>
                    <!-- <th scope="col">Generation Source</th> -->
                    <th scope="col">Timeline</th>
                </tr>
            </thead>
            <tbody class="inExcecution">
                <tr *ngFor="let each of executionArray">
                    <td>{{each.contractId}}</td>
                    <td>{{each.generatorName}}</td>
                    <td>{{each.quantity}}</td>
                    <!-- <td>{{each.generatingSource}}</td> -->
                    <td>{{each.timeline}}</td>
                </tr>
                <!-- <pagination class="my-pagination" [totalItems]="genInExecution.length" [directionLinks]="false" (pageChanged)="showMoreInExecution($event)"
                    [itemsPerPage]="4"></pagination> -->

            </tbody>
        </table>
    <!-- </div> -->
</div>
<div class="row">
    <!-- <div class="col-5"> -->
        <h5 class="text-center heading">PPA- Completed</h5>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Contract ID</th>
                    <th scope="col">Genarator</th>
                    <th scope="col">Quantity(kW)</th>
                    <!-- <th scope="col">Generation Source</th> -->
                    <th scope="col">Timeline</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let each of completedReturned">
                    <td>{{each.contractId}}</td>
                    <td>{{each.generatorName}}</td>
                    <td>{{each.quantity}}</td>
                    <!-- <td>{{each.generationSource}}</td> -->
                    <td>{{each.timeline}}</td>
                </tr>
                <!-- <pagination class="my-pagination" [totalItems]="completedGen.length" [directionLinks]="false" (pageChanged)="showMore($event)"
                    [itemsPerPage]="4"></pagination> -->
            </tbody>
        </table>
    <!-- </div> -->
</div>