table{
    // width: 10px;
    // height: 50px;
}
tr{
    max-height: 10px;
}
td,th{
    font-size: 0.7rem;
}
.inExcecution tr:nth-child(1){
    // background-color: rgb(255, 217, 0);
}
.heading {
    background-color: rgb(49, 96, 98);
    color: white;
    padding: 5px 0px;
    margin-bottom: 1rem;
}
.my-pagination::ng-deep .page-item .page-link {
    z-index: 1;
    color: #FFF;
    background-color: rgb(49, 96, 98) !important;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0;
    display: block;
    margin: auto;
}
.my-pagination::ng-deep .page-item.active .page-link{
    background-color: black !important;
}