<app-navbar></app-navbar>
<div class="container">
    <div class="row mb-4 mt-3">
        <div class="col-5">
            <div class="row pb_statistics d-flex justify-content-center">
                <div >
                    <h5 class="text-center mb-2 heading">POWER BANK STATISTICS</h5>
                    <div class="d-flex">
                        <div>
                            <img src="../../assets/Picture1.svg" alt="no image found" class="d-block mx-auto">
                            <p class="fw-bold text-center">Power Banks Sold</p>
                        </div>
                        <div class="ms-4">
                            <div class="pbListed">
                                <img src="../../assets/Picture2.svg" alt="no image found" class="d-block mx-auto">
                                <p class="centered fs-5 fw-bold">{{this.util.listedOnCloud.getValue()}}</p>
                            </div>
                            <p class="fw-bold text-center">Power Banks listed on Cloud</p>
                        </div>
                        <div>
                            <div class="pbListed">
                                <img src="../../assets/Picture3.svg" alt="no image found" class="d-block mx-auto">
                                <p class="centered fs-5 fw-bold">{{this.util.yetToListOnCloud.getValue()}}</p>
                            </div>
                            <p class="fw-bold text-center">Power Banks yet to be listed on Cloud</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-10"> -->
                    <app-my-generators></app-my-generators>

                <!-- </div> -->

            </div>
        <app-ppa-table></app-ppa-table>

            <!-- <div class="row mt-3">
                <h5 class="text-center heading">Load Management for EV (MW) 2022</h5>
                <carousel [noWrap]="true" [showIndicators]="false" class="border">
                    <slide *ngFor="let slide of slides">
                        <img [src]="slide.image" alt="image not found" class="w-100">
                    </slide>
                </carousel>
            </div> -->
        </div>
        <div class="col-7">
            <div class="row revenue ">
                <div class="col-9">
                    <h5 class="text-center heading">Revenue (USD) for 2022</h5>
                    <div class="bar-template">
                        <div class="revenue-q1">
                            <p>2985</p>
                            <div class="q1"></div>
                            <hr>
                            <p class="base">Quarter 1</p>
                        </div>
                        <div class="revenue-q2">
                            <p>3056</p>
                            <div class="q2"></div>
                            <hr>
                            <p class="base">Quarter 2</p>
                        </div>
                        <div class="revenue-q3">
                            <p>3176</p>
                            <div class="q3"></div>
                            <hr>
                            <p class="base">Quarter 3</p>
                        </div>
                        <div class="revenue-q4">
                            <p>3097</p>
                            <div class="q4"></div>
                            <hr>
                            <p class="base">Quarter 4</p>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="bg-secondary p-3 mb-2" data-bs-toggle="modal" data-bs-target="#createPPA">
                            <img src="../../assets/Picture5.svg" class="d-block mx-auto" alt="no image found" width="50px">
                            <h5 class="text-center text-white config_pa_text" >Create New PPA</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="bg-secondary p-3" data-bs-toggle="modal" data-bs-target="#create_power_bank">
                            <img src="../../assets/lighting.png" alt="no image found"
                                class="battery d-block mx-auto mb-2">
                            <h6 class="text-center text-white config_pb_text">Configure New Power Bank into the cloud
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row mt-3">
                <h5 class="text-center heading">Load Management for EV (MW) 2022</h5>
                <carousel [noWrap]="true" [showIndicators]="false" class="border">
                    <slide *ngFor="let slide of slides">
                        <img [src]="slide.image" alt="image not found" class="d-block mx-auto">
                    </slide>
                </carousel>
            </div>
        <!-- <app-ppa-table></app-ppa-table> -->

            
        </div>
        <div class="row mb-3">
            <div class="col-5">

            </div>
        </div>


        <!-- <app-ppa-table></app-ppa-table> -->
    </div>





    <div class="container">
        <app-create-ppa></app-create-ppa>
        <app-create-pb></app-create-pb>
    </div>