<app-navbar></app-navbar>
<div class="body">
  <div class="container">
    <div class="headings">
      <h2 style="color: green;">WELCOME TO POWER BANK ON CLOUD​</h2>
      <h6 class="text-center">ONE-STOP SOLUTION DRIVING SUSTAINABILITY ACROSS UTILITY CONSUMERS</h6>
    </div>
    <div class="grid">
      <div class="row">
        <div class="col" routerLink="/login">
          <div class="sub-headings">
            <h4 class="head1">UTILITIES/ RETAILERS</h4>
            <i class="fa fa-ellipsis-v" style="font-size:48px;"></i>
          </div>
          <div class="circle-container">
            <div class="row images block1">
              <img class="one" src="assets\img\newicon\voltage.png" />
              <img class="two" src="assets\img\newicon\energy-tower.png" /> 
              <!-- <img src="assets\img\powerbank\voltage.png" />
              <img src="assets\img\powerbank\electric tower.png" /> -->
            </div>
          </div>
        </div>
        <div class="col" routerLink="/login">
          <div class="sub-headings">
            <h4 class="head2">END CONSUMER</h4>
            <i class="fa fa-ellipsis-v" style="font-size:48px;"></i>
          </div>
          <div class="circle-container">
            <div class="row images block2">
              <!-- <img src="assets\img\powerbank\house.png" />
              <img src="assets\img\powerbank\EV.png" />
              <img class="img3" src="assets\img\powerbank\person.png" /> -->
              <img src="assets\img\newicon\electric-home.png" />
              <!-- <img src="assets\img\newicon\EV.png" /> -->
              <img src="assets\img\newicon\electrician.png" />
            </div>
          </div>
        </div>
        <div class="col" routerLink="/login">
          <div class="sub-headings">
            <h4 class="head3">RENEWABLE GENERATORS</h4>
            <i class="fa fa-ellipsis-v" style="font-size:48px;"></i>
          </div>
          <div class="circle-container">
            <div class="row images3 block3">
              <img src="assets\img\newicon\solar-panel.png" />
              <img src="assets\img\newicon\windmill.png" />
              <img src="assets\img\newicon\biogas-plant.png" />
            </div>
          </div>
        </div>
        <div class="col" routerLink="/login">
          <div class="sub-headings">
            <h4 class="head4">EV RETAILER</h4>
            <i class="fa fa-ellipsis-v" style="font-size:48px;"></i>
          </div>
          <div class="circle-container">
            <div class="row images3 block4">
              <img class="six" src="assets\img\newicon\petrol.png" />
              <img class="seven" src="assets\img\newicon\electric-car.png" />
              <img class="seven" src="assets\img\newicon\renewable.png" />

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>