<router-outlet></router-outlet>
<app-navbar></app-navbar>
<div class="container">
  <div class="headings">
    <h2>WELCOME..!!!​</h2>
    <h2>ONE-STOP SOLUTION DRIVING SUSTAINABILITY ACROSS UTILITY CONSUMERS</h2>
  </div>
  <div class="grid">
    <div class="row">
      <div class="col" routerLink="/login">
        <div class="sub-headings">
          <h4 class="head1">UTILITIES/ RETAILERS</h4>
        </div>
        <div class="circle-container">
          <div class="row images block1">
            <img src="assets\img\powerbank\voltage.png" />
            <img src="assets\img\powerbank\electric tower.png" />
          </div>
        </div>
      </div>
      <div class="col" routerLink="/login">
        <div class="sub-headings">
          <h4 class="head2">END CONSUMER</h4>
          <!-- <i class="fa fa-ellipsis-v" style="font-size:48px;"></i> -->
        </div>
        <div class="circle-container">
          <div class="row images block2">
            <img src="assets\img\powerbank\house.png" />
            <img src="assets\img\powerbank\EV.png" />
            <img class="img3" src="assets\img\powerbank\person.png" />
          </div>
        </div>
      </div>
      <div class="col" routerLink="/login">
        <div class="sub-headings">
          <h4 class="head3">RENEWABLE GENERATORS</h4>
        </div>
        <div class="circle-container">
          <div class="row images3 block3">
            <img src="assets\img\powerbank\solar pannel.png" />
            <img src="assets\img\powerbank\windmill.png" />
            <img src="assets\img\powerbank\Biogas.png" />
            <img class="img4" src="assets\img\powerbank\Picture15.png" />
            <img src="assets\img\powerbank\power generating station.png" />
          </div>
        </div>
      </div>
      <div class="col" routerLink="/login">
        <div class="sub-headings">
          <h4 class="head4">EV RETAILER</h4>
        </div>
        <div class="circle-container">
          <div class="row images3 block4">
            <img src="assets\img\powerbank\power station.png" />
            <img src="assets\img\powerbank\EV.png" />
            <img src="assets\img\powerbank\Picture18.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
