.heading {
    background-color: rgb(49, 96, 98);
    color: white;
    padding: 5px 0px;
    margin-bottom: 1rem;
}
.eachGenerator{
    position: relative;
    // border: 1px solid red;
    p{
        font-weight: bold;
        line-height: 0.8rem;
    }
    img,label{
        // background-image: url('../../assets/white.jpg');
        z-index: -1;
    }
}
.eachGenerator:hover {
    cursor: pointer;
    transition: 0.2s all ease;
    transform: scale(1.1);
}
.eachGenerator .pop-up{
    display: none;
    border-radius: 0;
    background-color: rgb(255, 255, 255);
    color: red;
    padding: 5px;
    border: 1px solid black;
    position: absolute;
    top: -180;
    right: -180px;
}
.eachGenerator:hover .pop-up{
    display: block;
}
.template{
    span{
        color: darkblue;
    }
}
.my-pagination::ng-deep .page-item .page-link {
    color: #FFF;
    background-color: rgb(49, 96, 98) !important;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0;
    // display: block;
    // margin: auto;
}
.my-pagination::ng-deep .page-item.active .page-link{
    background-color: black !important;
}